<span class="blocks-node blocks-{{type}}" tabindex="1" role="treeitem" aria-label="{{node.options.aria-label}}" aria-setsize="{{node.setSize}}" aria-level="{{node.level}}" aria-posinset="{{node.posInSet}}" id="block-node-{{node.id}}">{{> @partial-block}}</span>
