<span class="blocks-node blocks-{{type}}" tabindex="1" role="treeitem" aria-label="{{node.options.aria-label}}" aria-role="treeitem" aria-setsize="{{node.setSize}}" aria-depth="{{node.depth}}" aria-posinset="{{node.posInSet}}" id="block-node-{{node.id}}">{{> @partial-block}}</span>
