<span 	class="blocks-node blocks-{{type}}" 
		tabindex="1" role="treeitem" 
		aria-label="{{node.options.aria-label}}" 
		aria-multiselectable="true"
		aria-selected="false"
		aria-setsize="{{node.options.aria-setsize}}"
		aria-posinset="{{node.options.aria-posinset}}"
		id="block-node-{{node.id}}">{{> @partial-block}}</span>
